/* CSS VARIABLES */
:root {
  --ORANGE: #e85d04;
  --LIGHT-ORANGE: #f48c06;
  --BLACK: #303030;
  --GREEN: #52b788;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #edf2f4;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-OVERLAY: rgba(46, 47, 66, 0.4);
  --GRAY: rgba(46, 47, 66, 0.7);
  --WHITE: #ffffff;
  --DAIRY: #fcfcfc;
}

/* ------------------------------------------------- */

/* CSS RESET */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* END OF CSS RESET */

/* ------------------------------------------------- */

/* GENERAL STYLES */
body {
  font-family: 'Nunito', sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--BLACK, #303030);
}

.list {
  /* remove bullet points in lists */
  list-style: none;
}

.link {
  /* remove underline in links */
  text-decoration: none;
  /* a tags doesn't inherit font-color */
  color: inherit;
}

.button {
  display: block;
  padding: 5px 10px;
  width: 150px;
  height: 56px;

  /* button - doesn't automatically inherit font-family*/
  font-family: inherit;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;

  color: var(--WHITE, #ffffff);
  background-color: var(--ORANGE, #e85d04);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: var(--LIGHT-ORANGE, #f48c06);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: var(--BLACK, #303030);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1158px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* END OF GENERAL STYLES */

/* ------------------------------------------------- */

/* HEADER */

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background-color: var(--WHITE, #ffffff);
}

.header-navigation {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link {
  font-weight: 700;
  transition: color 250ms ease-in-out;
}

.header-link:hover,
.header-link:focus {
  color: var(--ORANGE, #e85d04);
}

.active {
  position: relative;
  color: var(--ORANGE, #e85d04);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border: 2px solid var(--ORANGE, #e85d04);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.logo-half {
  color: var(--ORANGE, #303030);
}

/* END OF HEADER STYLES */

/* ------------------------------------------------- */

/* HERO SECTION */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-d.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--WHITE, #ffffff);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}

.hero-subtitle {
  font-weight: 500;
}

.hero-button {
  margin: 0 auto;
}

/* END OF HERO SECTION STYLES */

/* ------------------------------------------------- */

/* ABOUT SECTION */

.about-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-list {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}

.about-wrap {
  padding-right: 30px;
}

.about-title {
  margin-bottom: 30px;
}

/* END OF ABOUT SECTION STYLES */

/* ------------------------------------------------- */

/* INSTRUCTORS SECTION */

.instructors-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.instructors-item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--WHITE, #ffffff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.instructors-name {
  font-size: 20px;
  margin: 30px 0;
}

.instructors-description {
  color: var(--SLATE, #434455);
}

.instructors-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.instructors-social-item {
  width: 40px;
  height: 40px;
}

.instructors-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--WHITE, #ffffff);
  background-color: var(--ORANGE, #e85d04);

  transition: background-color 250ms ease-in-out;
}

.instructors-social-link:hover,
.instructors-social-link:focus {
  background-color: var(--LIGHT-ORANGE, #f48c06);
}

.instructors-social-icon {
  fill: currentColor;
}

.instructors-control-list {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.instructors-control-item {
  width: 40px;
  height: 40px;
}

.instructors-control-previous,
.instructors-control-next {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  color: var(--BLACK, #303030);
  background-color: transparent;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.instructors-control-previous:hover,
.instructors-control-next:hover {
  color: var(--LIGHT-SLATE, #8e8f99);
}

.instructors-control-icon {
  fill: currentColor;
}

/* TNS LIBRARY */
.tns-nav {
  text-align: center;
}

.tns-nav button {
  margin-top: 30px;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 60px 5px 10px;
  background-color: var();
}

.tns-nav .tns-nav-active {
  background-color: var(--LIGHT-SLATE);
}

/* END OF INSTRUCTORS SECTIONS STYLES */

/* ------------------------------------------------- */

/* PRICES SECTION */
.prices {
  background-color: var(--BLACK, #303030);
  color: var(--WHITE, #ffffff);
}

.prices-title {
  color: var(--WHITE, #ffffff);
}

.prices-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  margin-bottom: 30px;
}

.prices-item {
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 264px;
  height: 400px;
  color: var(--BLACK, #303030);
  background-color: var(--WHITE, #ffffff);
}

.prices-item-alternate {
  color: var(--WHITE, #ffffff);
  background-color: var(--ORANGE, #e85d04);
}

.prices-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.prices-name {
  font-size: 20px;
}

.prices-price {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.prices-button {
  color: var(--BLACK, #303030);
  background-color: var(--WHITE, #ffffff);
}

.prices-button:hover,
.prices-button:focus {
  color: var(--WHITE, #ffffff);
  background-color: var(--SLATE);
}

/* END OF PRICES SECTION */

/* ------------------------------------------------- */
/* SPECIALIST SECTION */
.specialist-item {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 15px;
}

.specialist-item::after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: var(--BLACK, #303030);
  flex-grow: 1;
}

.specialist-subtext:last-child {
  /* it will be displayed after any elements with a lower order value */
  order: 1;
}

/* END OF SPECIALIST SECTION */
/* ------------------------------------------------- */

/* SCHEDULE SECTION */
.schedule {
}

.accordion-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--WHITE, #ffffff);
}

.accordion-item {
  width: 500px;

  @media (max-width: 428px) {
    width: 90%;
  }
}

.accordion-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: var(--LIGHT-ORANGE, #f48c06);
  color: var(--WHITE, #ffffff);
  margin: 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.accordion-icon {
  padding-left: 15px;
  display: inline-block;
  height: 60px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: var(--ORANGE, #e85d04);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.accordion-day {
  font-size: 20px;
}

.accordion-body {
  display: none;
  padding: 15px;
  background-color: var(--WHITE, #ffffff);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.accordion-item:nth-child(1) .accordion-body {
  display: block;
}

.accordion-body-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 15px;
  margin-bottom: 15px;
}

.accordion-body-item::after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: var(--BLACK, #303030);
  flex-grow: 1;
}

.accordion-body-subtext:last-child {
  /* it will be displayed after any elements with a lower order value */
  order: 1;
}
/* END OF SCHEDULE SECTION STYLES */

/* ------------------------------------------------- */

/* FACILITIES SECTION */
.facilities-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
}

.facilities-name {
  font-size: 20px;
}

.facilities-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 420px;
  border: 1px solid var(--CORNFLOWER, #edf2f4);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
/* END OF FACILITIES SECTION STYLES */

/* ------------------------------------------------- */
/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--BLACK, #303030);
  color: var(--WHITE, #ffffff);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-list::before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: var(--WHITE, #ffffff);
}

.footer-link {
  font-weight: 700;
  transition: color 250ms ease-in-out;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--ORANGE, #e85d04);
}

.footer-copyright {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
}
.footer-copyright-name {
  transition: color 250ms ease-in-out;
}

.footer-copyright-name:hover,
.footer-copyright-name:focus {
  color: var(--ORANGE, #e85d04);
}

/* END OF FOOTER STYLES */

/* ------------------------------------------------- */

/* MODAL  WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background-color: var(--WHITE, #ffffff);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: 428px) {
    height: auto;
    width: 428px;
  }
}

.modal-title {
  font-weight: 700;
  /* font-size: 20px; */
  font-size: 16px;
  text-align: center;
  color: var(--BLACK, #303030);
  margin-bottom: 30px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: var(--WHITE, #ffffff);
  color: var(--BLACK, #303030);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms ease-in-out;
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--ORANGE, #e85d04);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

/* Modal Form */

.form-field {
  display: block;
  position: relative;
}

.form-label {
  position: absolute;
  top: -16px;
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.form-input,
.form-textarea {
  /* display:block -> for icon positioning */
  display: block;
  width: 100%;
  /* margin: 0 0 29px 0; */
  margin-bottom: 29px;
  padding: 11px 16px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: 0.87;
  letter-spacing: 0.01em;
  color: var(--BLACK, #303030);

  transition: border-color 250ms ease-in-out;
}

.form-textarea {
  padding-left: 16px;
  resize: none;
}

.form-input:hover,
.form-textarea:hover,
.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--ORANGE, #e85d04);
}

.form-textarea::placeholder {
  color: var(--GRAY);
  font-size: 12px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--BLACK, #303030);
  transition: fill 250ms ease-in-out;
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--ORANGE, #e85d04);
}

.form-agreement {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}

.form-checkbox-icon {
  fill: none;
  border: 2px solid var(--primary-gray-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out,
    fill 250ms ease-in-out;
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: var(--ORANGE, #e85d04);
  border-color: var(--ORANGE, #e85d04);
  fill: var(--WHITE, #ffffff);
}

.form-terms {
  color: var(--ORANGE, #e85d04);
}

.button-center {
  display: block;
  margin: auto;
}

/* END OF MODAL  WINDOW STYLES*/
/* ------------------------------------------------- */
